h1{
  font-family: sans-serif;
}
 
@media print {
  #printPageButton {
    display: none;
  }
  
}      
  

.identitas td{
  /*font-size: 18px;*/
  text-shadow: 1px 1px 0px #fff;
}

table{
  font-family: "Arial", Times, sans-serif;
  font-size: 18px;
  
}
table tr{
	margin-right: 70px;
}
table td:first-child {
  text-align: left;
  padding-left: 15px;
}
.table1{
	border:1px solid black;
	border-collapse:collapse;
}
 
.table1 th {
  padding: 0px 15px 0px 15px; 
  border: 1px solid black;
  font-size: 18px;
}
 
.table1 th:first-child{  
  border-left:none;  
}
 
.table1 tr {
  text-align: center;
  padding-left: 20px;
}
 
.table1 td:first-child {
  text-align: left;
  padding-left: 20px;
  border: 1px solid black;

}
 
.table1 td {
  /*padding: 20px 35px;*/
  padding: 5px 15px 5px 15px; 
  border: 1px solid black;
  font-size: 16px;

}
 

